* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


ul {
    position: relative;
    display: flex;
    gap: 25px;
}

ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;

    opacity: 0.5;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

ul li:hover {
    width: 180px;
    opacity: 0.8;
}

ul li::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 60px;
    opacity: 0;
    transition: 0.5s;
    background: rgb(246, 51, 108);
    background: linear-gradient(101deg, rgba(246, 51, 108, 1) 0%, rgba(175, 5, 63, 1) 100%);
}

ul li:hover::before {
    opacity: 1;
}

ul li ion-icon {
    font-size: 5.2rem;
    transition: 0.5s;
    transition-delay: 0.25s;
}

ul li:hover ion-icon {
    transform: scale(0);
    transition-delay: 0s;
}

ul li span {
    position: absolute;
}

ul li .title {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
    font-family: 'Qatar2022', sans-serif;
    color: #E8B298;
}

ul li:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;
}