body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(48, 2, 25);
    background: linear-gradient(0deg, rgba(48, 2, 25, 1) 1%, rgba(175, 5, 63, 1) 100%);
    scrollbar-width: none;
}



* {
    font-family: "Qatar", sans-serif;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}